.ranking {
  width: 100%;
  height: fit-content;
  background-image: url("../../assets/images/image19/Image\ 19.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 8vw;
  @media (min-width: 950px) {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .player-container {
    width: 75vw;
    height: 90vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (min-width: 950px) {
      height: 90vh;
      width: 33%;
    }
    .player-title {
      position: absolute;
      top: 0;
      width: 40%;
      @media (min-width: 950px) {
        transform: translateY(70%);
      }
    }
    .player-stats-container {
      align-self: start;
      height: 70%;
      width: 100%;
      padding: 0 2em;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      @media (min-width: 950px) {
        height: 50%;
      }
      .stat {
        padding: 0;
        margin: 0;
        .text {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          border-bottom: 1px solid #fff;
          .player,
          .score {
            color: #fff;
          }
        }
      }
    }
  }
  .player1,
  .player3 {
    background: url("../../assets/images/image14/Image\ 14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .player2 {
    background: url("../../assets/images/image15/Image\ 15.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
