@import "../mixins";
.phones-section {
  background-image: url("../../assets/images/image12/Image\ 12.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 8vw 6vh 8vw;
  @media (min-width: 950px) {
    flex-flow: row;
    height: 90vh;
    padding: 0 8vw 0 0;
  }
  .phones-image-container {
    position: relative;
    width: 100%;
    height: 70vw;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    z-index: 10;
    @media (min-width: 950px) {
      height: 100%;
      width: 58vw;
    }
    .phones-image {
      position: absolute;
      top: -4%;
      width: 100%;
      height: 100%;
      background: url("../../assets/images/image13/Image\ 13.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
      overflow: visible;
      z-index: -10;
      @media (min-width: 950px) {
        top: 0;
        object-fit: fill;
        background-position: center;
        background-size: contain;
        height: 110%;
        top: -5%;
      }
    }
  }
  .phones-info {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 950px) {
      height: 100%;
      width: 42vw;
    }
    .title {
      @include title;
      .purple-title {
        @include purple-title;
      }
      .dark-title {
        @include dark-title;
      }
    }
    .brands-icons {
      width: 100%;
      height: 2.5em;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      column-gap: 1vw;
      box-sizing: border-box;
      .icon {
        height: 100%;
        flex: 1;
        width: 25%;
        object-fit: contain;
      }
    }
    .phones-info-text {
      text-align: center;
    }
    .btn-primary {
      background-color: #7e49c3;
      text-align: center;
      font: italic normal 900 18px/22px DIN Pro;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }
}
