.phones-section {
  background-image: url("../../assets/images/image12/Image\ 12.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-flow: row;
  padding: 0 8vw;
  .phones-image-container {
    position: relative;
    width: 50%;
    height: 100%;
    .phones-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../../assets/images/image13/Image\ 13.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 105%;
      z-index: 10;
    }
  }
  .phones-info {
    width: 50%;
    display: flex;
    flex-flow: column;
    .btn-primary {
      background-color: #7e49c3;
    }
  }
}
