.nav {
  background-color: #000;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vw;
  .menu-nav {
    display: flex;
    list-style: none;
    padding: 0;
    font-family: "DIN pro";
    font-weight: bold;
    font-size: 1em;
    .menu-item {
      margin-right: 2em;
      cursor: pointer;
      .link {
        text-decoration: none;
        color: white;
        &:visited {
          color: #fff;
        }
      }
    }
  }
  .logo {
    transform: translateX(-50%);
    cursor: pointer;
  }
  .button {
    background-color: #00ffff;
  }
}
