.main {
  height: 170vh;
  background-image: url("../../assets/images/image3/Image\ 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  .main-info {
    width: 100%;
    height: 150vh;
    padding: 8vw;
    display: grid;
    grid-template-areas:
      "video info"
      "participate participate";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    .section-video {
      grid-area: video;
      width: 100%;
      position: relative;
      .video-capture {
        background: url("../../assets/images/video/video-desk.png");
        background-position: center;
        // background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 110%;
        width: 100%;
        height: 100%;
        // object-fit: contain;
      }
    }
    .invitation {
      grid-area: info;
      background-color: blanchedalmond;
    }
    .participate {
      grid-area: participate;
      //   background-color: brown;
    }
  }
}
