.main {
  height: 170vh;
  background-image: url("../../assets/images/image3/Image\ 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  .main-info {
    width: 100%;
    height: 150vh;
    padding: 0 8vw 6vh 8vw;
    display: grid;
    grid-template-areas:
      "video info"
      "participate participate";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.2fr 1fr;
    .section-video {
      grid-area: video;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .video-capture {
        background: url("../../assets/images/video/video-desk.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 130%;
        width: 100%;
        height: 100%;
        // object-fit: contain;
      }
      .player {
        top: 0;
        position: absolute;
        background: url("../../assets/images/Group\ 1.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        width: 300px;
        height: 300px;
      }
    }
    .invitation {
      background-color: transparent;
      overflow: hidden;
      grid-area: info;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      align-items: center;
      .invitation-title {
        width: 80%;
        height: 40%;
        background: url("../../assets/images/image1/Image\ 1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .invitation-text {
        font-family: "DIN Pro";
        font-weight: bold;
        color: #fff;
      }
    }
    .participate {
      width: 40%;
      grid-area: participate;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      p {
        color: #fff;
      }
    }
  }
}
